@import "./utilities";

////////////////////////////////////////////////////////////////////////////////
// Reveal.js Overwrites
////////////////////////////////////////////////////////////////////////////////

.reveal {
  h2 {
    font-size: 1.2em;
    margin-bottom: 0.9em;
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: 0.9em;
  }

  h4 {
    font-size: 0.7em;
  }

  h5 {
    font-size: 0.5em;
  }

  strong {
    font-weight: 600;
  }

  ul li,
  ol li {
    margin-bottom: 0.75em;
  }

  ol li {
    color: $accentColor;
    font-weight: 600;
    padding-left: 16px;

    span {
      color: #fff;
      font-weight: initial;
    }
  }

  pre code {
    border: 1px solid $accentColor;
    border-radius: 0.25em;
    font-size: 125%;
    line-height: 1.2;
    padding: 1em;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Utility Classes
////////////////////////////////////////////////////////////////////////////////

.accent-color {
  color: $accentColor;
}

.accent-font {
  font-family: $accentFont;
  font-size: 1.5em;
  font-weight: 500;
}

.small {
  font-size: 65% !important;
}

.smaller {
  font-size: 50% !important;
}

.spaced {
  margin-top: 2em !important;
}

.spaced-less {
  margin-top: 1.5em !important;
}

.spaced-even-less {
  margin-top: 1em !important;
}

.spaced-small {
  margin-top: 0.5em !important;
}

.spaced-more {
  margin-top: 3em !important;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.gap-24 {
  gap: 24px;
}

.circle {
  border-radius: 50%;
}

.list-reveal li.visible {
  opacity: 0.5 !important;

  &.current-fragment {
    opacity: 1 !important;
  }
}

.shaded {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 16px;
}

.rounded {
  border-radius: 16px;
}

.bottom-padded {
  padding-bottom: 21px;
}

.code-columns {
  display: flex;
  gap: 24px;
  justify-content: center;

  pre {
    width: 100%;
  }
}

.code-only {
  max-height: 620px !important;
}

.photo-border {
  border: 16px solid #fff;
}

.fragment-list {
  font-size: 65%;
  margin-top: 1.2em !important;
  max-width: 80%;

  li.visible {
    opacity: 0.75 !important;

    &.current-fragment {
      opacity: 1 !important;
    }
  }
}

.quotation {
  padding: 16px !important;
}

////////////////////////////////////////////////////////////////////////////////
// Specific Slides
////////////////////////////////////////////////////////////////////////////////

#author {
  h3 {
    font-size: 0.9em;
  }
}

#tasks-2 {
  pre code {
    height: 390px;
  }
}

#explore-5 {
  iframe {
    height: 650px;
    width: 100%;
  }
}
